.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 240px;
}

.instructions-page h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 800;
  margin-bottom: 0;
}

.instructions-page .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 168, 0, 0.15);
  width: 650px;
  height: 140px;
  padding: 0 20px;
  border-radius: 20px;
  text-align: left;
  font-size: 30px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.5px;
  margin-top: 15px;
}

.instructions-page .box img {
  width: 100px;
  margin-left: 60px;
}

.instructions-page .button-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.tutorial-start-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 35px;
  background-color: rgba(97, 255, 0, 0.15);
  border-radius: 20px;
}

.tutorial-start-container h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 800;
  margin: 0;
}

.tutorial-start-container p {
  width: 550px;
  font-size: 30px;
  line-height: 32px;
  font-weight: 500;
  margin: 0;
  margin-top: 25px;
}

.robot-scale-image {
  width: 300px;
  margin-bottom: 40px;
}

.which-choose-image {
  width: 450px;
  margin-bottom: 40px;
}

.test-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
