.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.choice-count-box {
  width: 160px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: #ccc; */
  color: #303030;
  border: 2.5px solid #303030;
  border-radius: 8px;
  margin-bottom: 10px;
}

.choice-count {
  margin-left: 5px;
  font-weight: bold;
}